<style>

/********** Base styles **********/
* {
  box-sizing: border-box;

}

body{
	
	background-color:lightblue;
		font-family: cursive;

}
h1{
	font-size: 175%;
	text-align: center;
}
 .box1{
 	position: relative;
	border: 1px solid black;
	background-color: grey;
	width: 30%;
	height: 220px;
	background border: 5px; 
	padding: 35px;
	margin: 1.8%;
	float: left;
	overflow:auto;
}
.box2{
	position: relative;
	border: 1px solid black;
	background-color: lightgrey;
	width: 30%;
	height: 220px;
	background border: 5px; 
	padding: 35px;
	margin: 1.8%;
	float: left;
	overflow:auto;
}
.box3{
	position: relative;
	border: 1px solid black;
	background-color: white;
	width: 30%;
	height: 220px;
	background border: 5px; 
	padding: 35px;
	margin: 1.8%;
	float: left;
	overflow:auto;
}
.section{
	position: absolute;
    top: 0;
	right:0;
	border: 1px solid black;
	font-size: 125%;
	background-color: red;
	width: 90px;
	height: 30px;
	background border: 5px; 
	text-align: center;	
	

}
@media (min-width: 992px) {
	.box1{
		width: 20%;
		position: relative;
	9	
	}
	.box2{
		width: 20%;
		position: relative;
	}
	.box3{
		width: 20%;
		position: relative;
	}
	
}
@media (min-width: 768px) and (max-width: 991px) {
	.box1{
		width: 37%;
		position: relative;
	}
	.box2{
		width: 37%;
		position: relative;
	}
	.box3{
		width: 85%;
		position: relative;
	}
	
}
@media (max-width: 767px) {
	.box1{
		width: 100%;
		position: relative;
	}
	.box2{
		width: 100%;
		position: relative;
	}
	.box3{
		width: 100%;
		position: relative;
	}
	
}

</style>